.content {
	padding: 64px;
	max-width: 1200px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: left;
	overflow: clip;
}

.title {
	font-size: 48px;
	font-weight: 600;
}

@media screen and (max-width: 720px) {
	.content {
		display: none;
	}
}