.subMenuContainer {
	background-color: #F8F9FA;
	margin: 0 24px;
	padding: 24px 16px;
	border-radius: 0 0 8px 8px;
	border-color: #E6E8EA;
	border-style: solid;
	border-top: 0;
	border-width: 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
}