.container {
	margin: 8px 0;
}

.tileBackground {
	background-color: #F8F9FA;
	padding: 24px 16px;
	border-radius: 8px;
	border-color: #E6E8EA;
	border-style: solid;
	border-width: 1px;
}

.tileRow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logoContainer {
	min-width: 80px;
	display: flex;
}

.textContainer {
	margin: 0 16px;
	font-weight: 300;
}

.title {
	font-weight: 700;

}