.subMenuContainer {
	background-color: #F8F9FA;
	margin: 0 24px;
	padding: 24px 16px;
	border-radius: 0 0 8px 8px;
	border-color: #E6E8EA;
	border-style: solid;
	border-top: 0;
	border-width: 1px;
}

.tileRow {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logoContainer {
	min-width: 80px;
	display: flex;
}

.textContainer {
	margin: 0 16px;
	font-weight: 300;
}

.title {
	font-weight: 700;

}

.button {
	width: 160px;
	height: 36px;
	border-radius: 8px;
	border-width: 0px;
	font-weight: 600;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.button:hover {
	opacity: 0.7;
}

.back {
	background-color: #E6E8EA;
	color: #8C8C8C;
}

.connect {
	background-color: #F55A57;
	color: white;
}