.button {
	width: 160px;
	height: 36px;
	border-radius: 8px;
	border-width: 0px;
	font-weight: 600;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}

.button:hover {
	opacity: 0.7;
}

.back {
	background-color: #E6E8EA;
	color: #8C8C8C;
}

.connect {
	background-color: #F55A57;
	color: white;
}