html,
body {
	padding: 0;
	margin: 0;
	letter-spacing: 0.03em;
	font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	padding: 4px;
	margin: 0;
}